{% extends "play/base.html" %}
{% load static %}
{% block main-content %}

<h1>{{ quiz.Title }}</h1>

<form method="post">
  {% csrf_token %}

  {% for question in questions %}
    <h4>Question {{ forloop.counter }}:</h4>
    <p>{{ question.Question }}</p>

    <ul>
      {% for option in question.Options.split %}
      <li>
        <input type="radio" name="question_{{ question.id }}" id="option_{{ forloop.counter }}_{{ loop.counter }}" value="{{ option }}" required>
        <label for="option_{{ forloop.counter }}_{{ loop.counter }}">{{ option }}</label>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <button type="submit">Submit Answers</button>
</form>

{% endblock %}
