{% extends "quiz_manage/base.html" %}
{% load static %}

{% block css %}
	 <link href="{% static 'quiz_manage/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	
	 <style>
		label.custom_css_tag {
			border-color: #dd2f6e;
			background-color: #dd2f6e;
			width: fit-content !important;
			height: fit-content;
			color: #fff;
			border-radius: 50px;
			margin-right: 5px;
		}
	</style>
	<!-- Material color picker -->
    <link href="{% static 'quiz_manage/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Pick date -->
    <link rel="stylesheet" href="{% static 'quiz_manage/vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'quiz_manage/vendor/pickadate/themes/default.date.css' %}">
{% endblock %}

{% block main-content %}
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                App Profile
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:;" role="button" data-bs-toggle="dropdown">
									<div class="header-info">
										<small>Good Morning</small>
										<span>{{user_profile.FullName.title}}</span>
									</div>
                                    <img src="{{user_profile.ProfileImage.url}}" width="20" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ms-2">Profile </span>
                                    </a>
                                    <a href="email-inbox.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ms-2">Inbox </span>
                                    </a>
                                    <a href="{% url 'logout' %}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ms-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <p class="mb-0">Your business dashboard template</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Quiz</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">App</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                
                                <div class="profile-info">
									<div class="profile-photo" style="margin-top: 0px;">
										<img src="{{user_profile.ProfileImage.url}}" class="img-fluid rounded-circle" alt="">
									</div>
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0">{% if user_profile.FullName %}{{user_profile.FullName.capitalize}}{% else %}Geust{% endif %}</h4>
											<p>UX / UI Designer</p>
										</div>
										<div class="profile-email px-2 pt-2">
											<h4 class="text-muted mb-0">{{user_profile.Master.Email}}</h4>
											<p>Email</p>
										</div>
										<div class="dropdown ms-auto">
											<a href="#" class="btn btn-primary light sharp" data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
											<ul class="dropdown-menu dropdown-menu-end">
												<li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> View profile</li>
												<li class="dropdown-item"><i class="fa fa-users text-primary me-2"></i> Add to btn-close friends</li>
												<li class="dropdown-item"><i class="fa fa-plus text-primary me-2"></i> Add to group</li>
												<li class="dropdown-item"><i class="fa fa-ban text-primary me-2"></i> Block</li>
											</ul>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="text-center">
											<div class="profile-photo">
												<img src="{{user_profile.ProfileImage.url}}" width="100" class="img-fluid rounded-circle" alt="">
											</div>
											<h3 class="mt-4 mb-1">{% if user_profile.FullName %}{{user_profile.FullName.capitalize}}{% else %}Geust{% endif %}</h3>
											<p class="text-muted">Senior Manager</p>
											<a href="javascript:void(0);" class="btn btn-outline-primary btn-rounded light me-1 px-3" data-bs-toggle="modal" data-bs-target="#cameraModal"><i class="fa fa-camera m-0"></i> Upload</a>
											<!-- Modal -->
											<div class="modal fade" id="cameraModal">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title">Upload images</h5>
															<button type="button" class="btn-close" data-bs-dismiss="modal">
															</button>
														</div>
														<div class="modal-body">
															<form class="input-group mb-3 flex-nowrap" method="post" action="{% url 'upload_profile_image' %}" onchange="this.submit()" enctype="multipart/form-data">
																{% csrf_token %}
																<span class="input-group-text rounded-sm">Upload</span>
																<div class="form-file border-left-end overflow-hidden">
																	<input type="file" name="profile_image" class="form-file-input form-control">
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="card-footer pt-0 pb-0 text-center">
										<div class="row">
											<div class="col-4 pt-3 pb-3 border-right">
												<h3 class="mb-1">0</h3><span>Follower</span>
											</div>
											<div class="col-4 pt-3 pb-3 border-right">
												<h3 class="mb-1">0</h3><span>Played</span>
											</div>
											<div class="col-4 pt-3 pb-3">
												<h3 class="mb-1">0</h3><span>Rank</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="profile-blog">
											<h5 class="text-primary d-inline">Today Highlights</h5>
											<!-- <img src="{% static 'quiz_manage/images/profile/1.jpg' %}" alt="" class="img-fluid mt-4 mb-4 w-100"> -->
											<h4><a href="#" class="text-black">{new_quiz_title}</a></h4>
											<p class="mb-0">{new_quiz_desc}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="profile-interest">
											<h5 class="text-primary d-inline">Interest</h5>
											<div class="row mt-4 sp4">
												<label class="custom_css_tag">Html</label>
												<label class="custom_css_tag">Css</label>
												<label class="custom_css_tag">Java Script</label>
												<label class="custom_css_tag">Python</label>
												<label class="custom_css_tag">Java</label>

												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card h-auto">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
											<li class="nav-item"><a href="#profile-settings" data-bs-toggle="tab" class="nav-link ">Profile</a>
											</li>
                                            <li class="nav-item"><a href="#security" data-bs-toggle="tab" class="nav-link">Security</a>
                                            </li>
                                            <li class="nav-item"><a href="#create-quiz" data-bs-toggle="tab" class="nav-link">Create Quiz</a>
                                            </li>
											<li class="nav-item"><a href="#my-quizes" data-bs-toggle="tab" class="nav-link active show">My Quizes</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="security" class="tab-pane fade">
                                                <div class="my-post-content pt-3">
													<div class="">
														<h4 class="text-primary mb-3">Security Setting</h4>
														<form method="post" action="{% url 'change_password' %}">
															{% csrf_token %}
															<div class="row">
																<div class="mb-3 col-md-4">
																	<label class="form-label">Current Password</label>
																	<input type="password" name="current_pwd" placeholder="Current Password" class="form-control" value="">
																</div>
																<div class="mb-3 col-md-4">
																	<label class="form-label">New Password</label>
																	<input type="password" name="new_pwd" placeholder="New Password" class="form-control" value="">
																</div>
																<div class="mb-3 col-md-4">
																	<label class="form-label">Rewrite Password</label>
																	<input type="password" name="rewrite_pwd" placeholder="Rewrite Password" class="form-control" value="">
																</div>
															</div>
													
													
															<button class="btn btn-primary" type="submit">Change</button>
														</form>
													
													</div>
                                                </div>
                                            </div>
                                            <div id="create-quiz" class="tab-pane fade">
                                                <div class="pt-4 border-bottom-1 pb-3">
													
													<h4 class="text-primary mb-3">Create New Quiz</h4>
													<form method="post" action="#">
														{% csrf_token %}
														<div class="row">
															<div class="mb-3 col-md-6">
																<label class="form-label">Subject</label>
																<select class="form-control default-select" name="subject" id="subject">
																	<option selected="">Choose...</option>
																	{% for subject in quiz_preset_data.subjects %}
																	<option value="{{subject.id}}">{{subject}}</option>
																	{% endfor %}
																</select>
															</div>
															<div class="mb-3 col-md-6">
																<label class="form-label">Category</label>
																<select class="form-control default-select" name="category" id="category">
																	<option selected="">Choose...</option>
																	{% for category in quiz_preset_data.categories %}
																	<option value="{{category.id}}">{{category}}</option>
																	{% endfor %}
																</select>
															</div>
														</div>
														<div class="row">
															<div class="mb-3 col-md-4">
																<label class="form-label">Quiz Title</label>
																<input type="text" name="quiz_title" placeholder="Quiz Title" class="form-control" value="">
															</div>
															<div class="mb-3 col-md-4">
																<label class="form-label">Duration</label>
																<input type="number" name="duration" placeholder="Duration (min)" class="form-control" value="">
															</div>
															<div class="mb-3 col-md-4">
																<label class="form-label">Total Score</label>
																<input type="number" name="total_score" placeholder="Total Score" class="form-control" value="">
															</div>
														</div>
														<div class="row mb-4">
															<input type="range" name="difficulty_level" min=1 step=1 max=3 />	
														</div>
														<button class="btn btn-primary mt-3" type="submit">Create</button>
													</form>
												</div>
                                            </div>
                                            <div id="profile-settings" class="tab-pane fade">
                                                <div class="pt-3">
                                                    <div class="settings-form">
                                                        <h4 class="text-primary">Account Setting</h4>
                                                        <form method="post" action="{% url 'profile_update' %}">
															{% csrf_token %}
                                                            <div class="row">
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">Full Name</label>
                                                                    <input type="text" name="full_name" placeholder="Enter Your Full Name" class="form-control" value="{{user_profile.FullName}}">
                                                                </div>
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">Mobile</label>
                                                                    <input type="text" name="mobile" placeholder="Enter Your Mobile Number" class="form-control" value="{{user_profile.Mobile}}">
                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label mr-3">I am</label>
                                                                <div class="form-check d-inline-block">
																	{% for k,v in gender_choices.items %}
																	<input class="form-check-input" type="radio" name="gender" id="{{k}}" value="{{k}}">
																	<label class="form-check-label" for="{{k}}">
																	   {{v.capitalize}}
																	</label>
																</div>
																{% endfor %}
                                                            </div>
                                                            <div class="row form-material">
																<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
																	<label class="form-label">Birth Date</label>
																	<input type="text" class="form-control" name="birth_date" placeholder="2017-06-04" id="mdate" value="{{user_profile.BirthDate}}">
																</div>
															</div>
                                                            <div class="row">
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">City</label>
                                                                    <input type="text" name="city" class="form-control" value="{{user_profile.City}}">
                                                                </div>
                                                                <div class="mb-3 col-md-4">
                                                                    <label class="form-label">State</label>
                                                                    <select class="form-control default-select" name="state" id="inputState" value="{{user_profile.State}}">
                                                                        <option selected="">Choose...</option>
                                                                        <option>Option 1</option>
                                                                        <option>Option 2</option>
                                                                        <option>Option 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="mb-3 col-md-4">
                                                                    <label class="form-label">Country</label>
                                                                    <select class="form-control default-select wide" name="country" id="inputCountry" value="{{user_profile.Country}}">
                                                                        <option selected="">Choose...</option>
                                                                        <option>Option 1</option>
                                                                        <option>Option 2</option>
                                                                        <option>Option 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="mb-3 col-md-2">
                                                                    <label class="form-label">Pincode</label>
                                                                    <input type="text" name="pincode" class="form-control" value="{{user_profile.Pincode}}">
                                                                </div>
                                                            </div>
                                                            
                                                            <button class="btn btn-primary" type="submit">Sign
                                                                in</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<div id="my-quizes" class="tab-pane fade active show">
											<div class="pt-4 border-bottom-1 pb-3 p-3">	
												<h4 class="text-primary mb-3">My Quizes</h4>
												<style>
													.quiz-item{
														position: relative;
													}
													.quiz-item::before{
														content: attr(category);
														position: absolute;
														top: 0;
														left: -45px;
														bottom: 0;
														margin: auto;
														transform: rotate(-90deg);
														width: max-content;
														height: max-content;
														color: #dddd;
														text-transform: uppercase;
													}
												</style>
												<div class="row">
												{% for quiz in my_quizes %}
												<div class="widget-stat card bg-danger col-md-4 m-2 quiz-item" category="{{quiz.category.category}}">
													<div class="card-body mb-0 pb-0">
														<div class="media">
															<div class="media-body text-white">
																<p class="mb-1">{{quiz.Title}}</p>
																<h3 class="text-white" style="width: max-content;">Score: {{quiz.TotalScore}}</h3>
																<p class="mb-1">Has {{quiz.TotalQuestions}} questions.</p>
															</div>
														</div>
													</div>
													<hr>
													<div class="card-footer border-0 m-0 pt-0">
														<a href="#" class="card-link text-white add-new" quiz-id="{{quiz.id}}" data-bs-toggle="modal" data-bs-target="#questionModal">Add New</a>
														<a href="#" class="card-link text-white view-ques float-end" quiz-id="{{quiz.id}}" data-bs-toggle="modal" data-bs-target="#questionViewModal">View</a>
													</div>
												</div>
												{% endfor %}
												</div>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

		<!--Add Question Modal -->
		<div class="modal fade" id="questionModal">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Questions</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal">
						</button>
					</div>	
					<div class="modal-body">
							<form method="post" action="">
								{% csrf_token %}
								<div class="row">
									<div class="mb-3 col-md-12">
										<label class="form-label">Question</label>
										<textarea class="form-control" name="question" placeholder="Type your question..."></textarea>
									</div>
								</div>
								<div class="row options">
									<div class="mb-3 col-md-6 option">
										<label class="form-label">Option A</label>
										<input type="text" name="option_a" class="form-control" value="">
									</div>
									<div class="mb-3 col-md-6 option">
										<label class="form-label">Option B</label>
										<input type="text" name="option_b" class="form-control" value="">
									</div>
								</div>
								<div class="row">
									<div class="col">
										<button class="btn btn-primary w-auto new_field" type="button">Add Field</button>
									</div>
								</div>

								<hr>
								<div class="row">
									<div class="mb-3 col-md-5">
										<select class="form-control default-select" name="set_answer" id="set_answer">
											<option selected="">Set Answer...</option>
											<option value="0">Option A</option>
											<option value="1">Option B</option>
										</select>
									</div>

									<div class="mb-3 col-md-7 text-end">
										<button class="btn btn-primary" type="submit">Add</button>
									</div>
								</div>
						
							</form>
						
					</div>
				</div>
			</div>
		</div>

		<!--View Question Modal -->
		<div class="modal fade" id="questionViewModal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">View Questions</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal">
						</button>
					</div>	
					<div class="modal-body">
						<div class="card border-0 pb-0">
							<div class="card-body p-0">
								<div id="DZ_W_Todo3" class="widget-media dz-scroll height370">
									<ul class="timeline">
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
{% endblock %}

	<!--removeIf(production)-->
        
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% block js %}
	 
	<script src="{% static 'quiz_manage/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'quiz_manage/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'quiz_manage/js/custom.min.js' %}"></script>
	<!-- momment js is must -->
    <script src="{% static 'quiz_manage/vendor/moment/moment.min.js' %}"></script>
	<!-- pickdate -->
    <script src="{% static 'quiz_manage/vendor/pickadate/picker.js' %}"></script>
	<script src="{% static 'quiz_manage/vendor/pickadate/picker.date.js' %}"></script>
	<!-- Material color picker -->
    <script src="{% static 'quiz_manage/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
	
	<script src="{% static 'quiz_manage/js/deznav-init.js' %}"></script>
    
	<script>
		$(document).ready(function() {
			$('#mdate').bootstrapMaterialDatePicker({
				weekStart: 0,
				time: false
			});
		})
	</script>
   {% endblock %}